In [164]:
import copy
import warnings
import os
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import GradientBoostingClassifier

In [165]:
df_train = pd.read_csv('./train_data.csv')
df_train

,name,bonus,deferral_payments,deferred_income,director_fees,email_address,exercised_stock_options,expenses,from_messages,from_poi_to_this_person,...,long_term_incentive,other,poi,restricted_stock,restricted_stock_deferred,salary,shared_receipt_with_poi,to_messages,total_payments,total_stock_value
0,RICE KENNETH D,1750000.0,NaN,-3504386.0,NaN,ken.rice@enron.com,19794175.0,46950.0,18.0,42.0,...,1617011.0,174839.0,True,2748364.0,NaN,420636.0,864.0,905.0,505050.0,22542539.0
1,SKILLING JEFFREY K,5600000.0,NaN,NaN,NaN,jeff.skilling@enron.com,19250000.0,29336.0,108.0,88.0,...,1920000.0,22122.0,True,6843672.0,NaN,1111258.0,2042.0,3627.0,8682716.0,26093672.0
2,SHELBY REX,200000.0,NaN,-4167.0,NaN,rex.shelby@enron.com,1624396.0,22884.0,39.0,13.0,...,NaN,1573324.0,True,869220.0,NaN,211844.0,91.0,225.0,2003885.0,2493616.0
3,KOPPER MICHAEL J,800000.0,NaN,NaN,NaN,michael.kopper@enron.com,NaN,118134.0,NaN,NaN,...,602671.0,907502.0,True,985032.0,NaN,224305.0,NaN,NaN,2652612.0,985032.0
4,CALGER CHRISTOPHER F,1250000.0,NaN,-262500.0,NaN,christopher.calger@enron.com,NaN,35818.0,144.0,199.0,...,375304.0,486.0,True,126027.0,NaN,240189.0,2188.0,2598.0,1639297.0,126027.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108,STABLER FRANK,500000.0,NaN,NaN,NaN,frank.stabler@enron.com,NaN,16514.0,NaN,NaN,...,NaN,356071.0,False,511734.0,NaN,239502.0,NaN,NaN,1112087.0,511734.0
109,BROWN MICHAEL,NaN,NaN,NaN,NaN,michael.brown@enron.com,NaN,49288.0,41.0,13.0,...,NaN,NaN,False,NaN,NaN,NaN,761.0,1486.0,49288.0,NaN
110,PICKERING MARK R,300000.0,NaN,NaN,NaN,mark.pickering@enron.com,28798.0,31653.0,67.0,7.0,...,NaN,NaN,False,NaN,NaN,655037.0,728.0,898.0,1386690.0,28798.0
111,HAUG DAVID L,NaN,NaN,NaN,NaN,david.haug@enron.com,NaN,475.0,19.0,4.0,...,NaN,NaN,False,2217299.0,NaN,NaN,471.0,573.0,475.0,2217299.0
112,SHAPIRO RICHARD S,650000.0,NaN,NaN,NaN,richard.shapiro@enron.com,607837.0,137767.0,1215.0,74.0,...,NaN,705.0,False,379164.0,NaN,269076.0,4527.0,15149.0,1057548.0,987001.0

In [166]:
df_test = pd.read_csv('./test_features.csv')
df_answer = pd.DataFrame()
df_answer['name'] = df_test['name']
df_test

,name,bonus,deferral_payments,deferred_income,director_fees,email_address,exercised_stock_options,expenses,from_messages,from_poi_to_this_person,...,loan_advances,long_term_incentive,other,restricted_stock,restricted_stock_deferred,salary,shared_receipt_with_poi,to_messages,total_payments,total_stock_value
0,BELDEN TIMOTHY N,5249999.0,2144013.0,-2334434.0,NaN,tim.belden@enron.com,953136.0,17355.0,484.0,228.0,...,NaN,NaN,210698.0,157569.0,NaN,213999.0,5521.0,7991.0,5501630.0,1110705.0
1,BOWEN JR RAYMOND M,1350000.0,NaN,-833.0,NaN,raymond.bowen@enron.com,NaN,65907.0,27.0,140.0,...,NaN,974293.0,1621.0,252055.0,NaN,278601.0,1593.0,1858.0,2669589.0,252055.0
2,HANNON KEVIN P,1500000.0,NaN,-3117011.0,NaN,kevin.hannon@enron.com,5538001.0,34039.0,32.0,32.0,...,NaN,1617011.0,11350.0,853064.0,NaN,243293.0,1035.0,1045.0,288682.0,6391065.0
3,DELAINEY DAVID W,3000000.0,NaN,NaN,NaN,david.delainey@enron.com,2291113.0,86174.0,3069.0,66.0,...,NaN,1294981.0,1661.0,1323148.0,NaN,365163.0,2097.0,3093.0,4747979.0,3614261.0
4,CAUSEY RICHARD A,1000000.0,NaN,-235000.0,NaN,richard.causey@enron.com,NaN,30674.0,49.0,58.0,...,NaN,350000.0,307895.0,2502063.0,NaN,415189.0,1585.0,1892.0,1868758.0,2502063.0
5,HICKERSON GARY J,1700000.0,NaN,NaN,NaN,gary.hickerson@enron.com,NaN,98849.0,27.0,40.0,...,NaN,69223.0,1936.0,441096.0,NaN,211788.0,900.0,1320.0,2081796.0,441096.0
6,FREVERT MARK A,2000000.0,6426990.0,-3367011.0,NaN,mark.frevert@enron.com,10433518.0,86987.0,21.0,242.0,...,2000000.0,1617011.0,7427621.0,4188667.0,NaN,1060932.0,2979.0,3275.0,17252530.0,14622185.0
7,CHAN RONNIE,NaN,NaN,-98784.0,98784.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,32460.0,-32460.0,NaN,NaN,NaN,NaN,NaN
8,DONAHUE JR JEFFREY M,800000.0,NaN,-300000.0,NaN,jeff.donahue@enron.com,765920.0,96268.0,22.0,188.0,...,NaN,NaN,891.0,315068.0,NaN,278601.0,772.0,865.0,875760.0,1080988.0
9,REYNOLDS LAWRENCE,100000.0,51365.0,-200000.0,NaN,NaN,4160672.0,8409.0,NaN,NaN,...,NaN,156250.0,202052.0,201483.0,-140264.0,76399.0,NaN,NaN,394475.0,4221891.0
10,HORTON STANLEY C,NaN,3131860.0,NaN,NaN,stanley.horton@enron.com,5210569.0,NaN,1073.0,44.0,...,NaN,NaN,NaN,2046079.0,NaN,NaN,1074.0,2350.0,3131860.0,7256648.0
11,LEWIS RICHARD,NaN,NaN,NaN,NaN,richard.lewis@enron.com,850477.0,NaN,26.0,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,739.0,952.0,NaN,850477.0
12,SHERRICK JEFFREY B,NaN,NaN,NaN,NaN,jeffrey.sherrick@enron.com,1426469.0,NaN,25.0,39.0,...,NaN,NaN,NaN,405999.0,NaN,NaN,583.0,613.0,NaN,1832468.0
13,MEYER JEROME J,NaN,NaN,-38346.0,38346.0,NaN,NaN,2151.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2151.0,NaN
14,DERRICK JR. JAMES V,800000.0,NaN,-1284000.0,NaN,james.derrick@enron.com,8831913.0,51124.0,909.0,64.0,...,NaN,484000.0,7482.0,1787380.0,-1787380.0,492375.0,1401.0,2181.0,550981.0,8831913.0
15,PIRO JIM,NaN,NaN,NaN,NaN,jim.piro@enron.com,NaN,NaN,16.0,0.0,...,NaN,NaN,NaN,47304.0,NaN,NaN,3.0,58.0,NaN,47304.0
16,DETMERING TIMOTHY J,425000.0,875307.0,-775241.0,NaN,timothy.detmering@enron.com,2027865.0,52255.0,NaN,NaN,...,NaN,415657.0,1105.0,315068.0,-315068.0,210500.0,NaN,NaN,1204583.0,2027865.0
17,KISHKILL JOSEPH G,NaN,NaN,-51042.0,NaN,joe.kishkill@enron.com,NaN,116335.0,NaN,NaN,...,NaN,NaN,465357.0,1034346.0,NaN,174246.0,NaN,NaN,704896.0,1034346.0
18,BAY FRANKLIN R,400000.0,260455.0,-201641.0,NaN,frank.bay@enron.com,NaN,129142.0,NaN,NaN,...,NaN,NaN,69.0,145796.0,-82782.0,239671.0,NaN,NaN,827696.0,63014.0
19,PRENTICE JAMES,NaN,564348.0,NaN,NaN,james.prentice@enron.com,886231.0,NaN,NaN,NaN,...,NaN,NaN,NaN,208809.0,NaN,NaN,NaN,NaN,564348.0,1095040.0
20,TOTAL,97343619.0,32083396.0,-27992891.0,1398517.0,NaN,311764000.0,5235198.0,NaN,NaN,...,83925000.0,48521928.0,42667589.0,130322299.0,-7576788.0,26704229.0,NaN,NaN,309886585.0,434509511.0
21,FALLON JAMES B,2500000.0,NaN,NaN,NaN,jim.fallon@enron.com,940257.0,95924.0,75.0,42.0,...,NaN,374347.0,401481.0,1392142.0,NaN,304588.0,1604.0,1755.0,3676340.0,2332399.0
22,METTS MARK,600000.0,NaN,NaN,NaN,mark.metts@enron.com,NaN,94299.0,29.0,38.0,...,NaN,NaN,1740.0,585062.0,NaN,365788.0,702.0,807.0,1061827.0,585062.0
23,WODRASKA JOHN,NaN,NaN,NaN,NaN,john.wodraska@enron.com,NaN,NaN,NaN,NaN,...,NaN,NaN,189583.0,NaN,NaN,NaN,NaN,NaN,189583.0,NaN
24,MORDAUNT KRISTINA M,325000.0,NaN,NaN,NaN,kristina.mordaunt@enron.com,NaN,35018.0,NaN,NaN,...,NaN,NaN,1411.0,208510.0,NaN,267093.0,NaN,NaN,628522.0,208510.0
25,CARTER REBECCA C,300000.0,NaN,-159792.0,NaN,rebecca.carter@enron.com,NaN,NaN,15.0,29.0,...,NaN,75000.0,540.0,307301.0,-307301.0,261809.0,196.0,312.0,477557.0,NaN
26,BHATNAGAR SANJAY,NaN,NaN,NaN,137864.0,sanjay.bhatnagar@enron.com,2604490.0,NaN,29.0,0.0,...,NaN,NaN,137864.0,-2604490.0,15456290.0,NaN,463.0,523.0,15456290.0,NaN
27,WALTERS GARETH W,NaN,53625.0,NaN,NaN,NaN,1030329.0,33785.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,87410.0,1030329.0
28,BIBI PHILIPPE A,1000000.0,NaN,NaN,NaN,philippe.bibi@enron.com,1465734.0,38559.0,40.0,23.0,...,NaN,369721.0,425688.0,378082.0,NaN,213625.0,1336.0,1607.0,2047593.0,1843816.0
29,SHERRIFF JOHN R,1500000.0,NaN,NaN,NaN,john.sherriff@enron.com,1835558.0,NaN,92.0,28.0,...,NaN,554422.0,1852186.0,1293424.0,NaN,428780.0,2103.0,3187.0,4335388.0,3128982.0
30,GIBBS DANA R,NaN,504610.0,NaN,NaN,dana.gibbs@enron.com,2218275.0,NaN,12.0,0.0,...,NaN,461912.0,NaN,NaN,NaN,NaN,23.0,169.0,966522.0,2218275.0
31,LINDHOLM TOD A,200000.0,204075.0,NaN,NaN,tod.lindholm@enron.com,2549361.0,57727.0,NaN,NaN,...,NaN,175000.0,2630.0,514847.0,NaN,236457.0,NaN,NaN,875889.0,3064208.0
32,MCMAHON JEFFREY,2600000.0,NaN,NaN,NaN,jeffrey.mcmahon@enron.com,1104054.0,137108.0,48.0,58.0,...,NaN,694862.0,297353.0,558801.0,NaN,370448.0,2228.0,2355.0,4099771.0,1662855.0

In [167]:
# 把訓練級的label取出來並把true,false轉成0,1的格式

train_y = df_train['poi']
df_train = df_train.drop(['poi'],axis=1)
train_y = LabelEncoder().fit_transform(train_y)

In [168]:
df = pd.concat([df_train, df_test])
df

,name,bonus,deferral_payments,deferred_income,director_fees,email_address,exercised_stock_options,expenses,from_messages,from_poi_to_this_person,...,loan_advances,long_term_incentive,other,restricted_stock,restricted_stock_deferred,salary,shared_receipt_with_poi,to_messages,total_payments,total_stock_value
0,RICE KENNETH D,1750000.0,NaN,-3504386.0,NaN,ken.rice@enron.com,19794175.0,46950.0,18.0,42.0,...,NaN,1617011.0,174839.0,2748364.0,NaN,420636.0,864.0,905.0,505050.0,22542539.0
1,SKILLING JEFFREY K,5600000.0,NaN,NaN,NaN,jeff.skilling@enron.com,19250000.0,29336.0,108.0,88.0,...,NaN,1920000.0,22122.0,6843672.0,NaN,1111258.0,2042.0,3627.0,8682716.0,26093672.0
2,SHELBY REX,200000.0,NaN,-4167.0,NaN,rex.shelby@enron.com,1624396.0,22884.0,39.0,13.0,...,NaN,NaN,1573324.0,869220.0,NaN,211844.0,91.0,225.0,2003885.0,2493616.0
3,KOPPER MICHAEL J,800000.0,NaN,NaN,NaN,michael.kopper@enron.com,NaN,118134.0,NaN,NaN,...,NaN,602671.0,907502.0,985032.0,NaN,224305.0,NaN,NaN,2652612.0,985032.0
4,CALGER CHRISTOPHER F,1250000.0,NaN,-262500.0,NaN,christopher.calger@enron.com,NaN,35818.0,144.0,199.0,...,NaN,375304.0,486.0,126027.0,NaN,240189.0,2188.0,2598.0,1639297.0,126027.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28,BIBI PHILIPPE A,1000000.0,NaN,NaN,NaN,philippe.bibi@enron.com,1465734.0,38559.0,40.0,23.0,...,NaN,369721.0,425688.0,378082.0,NaN,213625.0,1336.0,1607.0,2047593.0,1843816.0
29,SHERRIFF JOHN R,1500000.0,NaN,NaN,NaN,john.sherriff@enron.com,1835558.0,NaN,92.0,28.0,...,NaN,554422.0,1852186.0,1293424.0,NaN,428780.0,2103.0,3187.0,4335388.0,3128982.0
30,GIBBS DANA R,NaN,504610.0,NaN,NaN,dana.gibbs@enron.com,2218275.0,NaN,12.0,0.0,...,NaN,461912.0,NaN,NaN,NaN,NaN,23.0,169.0,966522.0,2218275.0
31,LINDHOLM TOD A,200000.0,204075.0,NaN,NaN,tod.lindholm@enron.com,2549361.0,57727.0,NaN,NaN,...,NaN,175000.0,2630.0,514847.0,NaN,236457.0,NaN,NaN,875889.0,3064208.0
32,MCMAHON JEFFREY,2600000.0,NaN,NaN,NaN,jeffrey.mcmahon@enron.com,1104054.0,137108.0,48.0,58.0,...,NaN,694862.0,297353.0,558801.0,NaN,370448.0,2228.0,2355.0,4099771.0,1662855.0

In [169]:
num_features = []
for dtype,feature in zip(df.dtypes,df.columns):
    if dtype == 'float64' or dtype == 'int64':
        num_features.append(feature)
df = df[num_features]


train_num = train_y.shape[0]
df

,bonus,deferral_payments,deferred_income,director_fees,exercised_stock_options,expenses,from_messages,from_poi_to_this_person,from_this_person_to_poi,loan_advances,long_term_incentive,other,restricted_stock,restricted_stock_deferred,salary,shared_receipt_with_poi,to_messages,total_payments,total_stock_value
0,1750000.0,NaN,-3504386.0,NaN,19794175.0,46950.0,18.0,42.0,4.0,NaN,1617011.0,174839.0,2748364.0,NaN,420636.0,864.0,905.0,505050.0,22542539.0
1,5600000.0,NaN,NaN,NaN,19250000.0,29336.0,108.0,88.0,30.0,NaN,1920000.0,22122.0,6843672.0,NaN,1111258.0,2042.0,3627.0,8682716.0,26093672.0
2,200000.0,NaN,-4167.0,NaN,1624396.0,22884.0,39.0,13.0,14.0,NaN,NaN,1573324.0,869220.0,NaN,211844.0,91.0,225.0,2003885.0,2493616.0
3,800000.0,NaN,NaN,NaN,NaN,118134.0,NaN,NaN,NaN,NaN,602671.0,907502.0,985032.0,NaN,224305.0,NaN,NaN,2652612.0,985032.0
4,1250000.0,NaN,-262500.0,NaN,NaN,35818.0,144.0,199.0,25.0,NaN,375304.0,486.0,126027.0,NaN,240189.0,2188.0,2598.0,1639297.0,126027.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28,1000000.0,NaN,NaN,NaN,1465734.0,38559.0,40.0,23.0,8.0,NaN,369721.0,425688.0,378082.0,NaN,213625.0,1336.0,1607.0,2047593.0,1843816.0
29,1500000.0,NaN,NaN,NaN,1835558.0,NaN,92.0,28.0,23.0,NaN,554422.0,1852186.0,1293424.0,NaN,428780.0,2103.0,3187.0,4335388.0,3128982.0
30,NaN,504610.0,NaN,NaN,2218275.0,NaN,12.0,0.0,0.0,NaN,461912.0,NaN,NaN,NaN,NaN,23.0,169.0,966522.0,2218275.0
31,200000.0,204075.0,NaN,NaN,2549361.0,57727.0,NaN,NaN,NaN,NaN,175000.0,2630.0,514847.0,NaN,236457.0,NaN,NaN,875889.0,3064208.0
32,2600000.0,NaN,NaN,NaN,1104054.0,137108.0,48.0,58.0,26.0,NaN,694862.0,297353.0,558801.0,NaN,370448.0,2228.0,2355.0,4099771.0,1662855.0

In [181]:
df_m1 = df.fillna(-1)
df_m1 = StandardScaler().fit_transform(df_m1)
train_x = df_m1[:train_num]
test_x = df_m1[train_num:]
estimator = LogisticRegression()

In [182]:
cross_val_score(estimator,train_x,train_y,cv=10).mean()

0.8787878787878787

In [183]:
# test_feature = []
# for dtype,feature in zip(df_test.dtypes,df_test.columns):
#     if dtype == 'float64' or dtype == 'int64':
#         test_feature.append(feature)
# df_test = df_test[test_feature]
# df_test = df_test.fillna(-1)
# test_x = StandardScaler().fit_transform(df_test)

estimator.fit(train_x,train_y)
y_prediction = estimator.predict_proba(test_x)[:,1]
# y_prediction = estimator.predict(test_x)
y_prediction

array([0.4184294 , 0.21896407, 0.34382915, 0.00296344, 0.16611648,
       0.12159458, 0.82055825, 0.04721903, 0.259512  , 0.09369763,
       0.04309604, 0.0836821 , 0.09491436, 0.05826006, 0.17279636,
       0.06460423, 0.09563568, 0.08854944, 0.08737417, 0.06528149,
       1.        , 0.15612321, 0.11988204, 0.06679686, 0.07533306,
       0.08371553, 0.16857332, 0.07345042, 0.12481851, 0.13885831,
       0.06973241, 0.0892082 , 0.21693009])

In [184]:
test_x.shape

(33, 19)

In [185]:
train_x.shape

(113, 19)

In [186]:
# df_m1 = df_train.fillna(-1)
# df_m1 = StandardScaler().fit_transform(df_m1)
# train_x = df_m1[:train_num]
# clf = GradientBoostingClassifier()
# clf.fit(train_x,train_y)

In [187]:
# test_feature = []
# for dtype,feature in zip(df_test.dtypes,df_test.columns):
#     if dtype == 'float64' or dtype == 'int64':
#         test_feature.append(feature)
# df_test = df_test[test_feature]
# df_test = df_test.fillna(-1)
# test_x = StandardScaler().fit_transform(df_test)
# #預測結果
# y_prediction = clf.predict_proba(test_x)

# y_prediction

In [191]:
# df_answer['poi'] = y_prediction

for i in range(0,len(y_prediction)):
    df_answer['poi'][i] = y_prediction[i]
    

df_answer

filename = './submission.csv'

df_answer.to_csv(filename, index=False)

<ipython-input-191-294badb1a834>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_answer['poi'][i] = y_prediction[i]