# [作業目標]
- 利用範例的創建方式, 創建一組資料, 並練習如何取出最大值

# [作業重點]
- 練習創立 DataFrame (In[2])
- 如何取出口數最多的國家 (In[3], Out[3])

## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [32]:
import pandas as pd
import numpy as np

In [33]:
data = {'國家': np.random.randint(10,size=20),
        '人口': np.random.randint(1000,size=20)}
data = pd.DataFrame(data)

In [34]:
data

    國家   人口
0    4  944
1    2  252
2    1  266
3    2  826
4    6  532
5    5   28
6    8  281
7    7  492
8    5  421
9    2  265
10   8  451
11   9  369
12   4  233
13   8  902
14   4  680
15   0  139
16   4  728
17   7  343
18   6   47
19   7  878

In [35]:
data.groupby(by='國家')['人口'].sum().idxmax()

4